body{
    background-color: beige;
}
#num1{
    text-align: center;
    padding:5%;
    text-shadow: chartreuse;
    font-size: 100px;
}
#num2{
    text-align: center;
    color:darkgoldenrod;
}
#num3 , #num4 ,#num5
{
text-align: center;
}
#num3{
    color: darkgoldenrod;
    font-size: 50px;
}